.title {
	font-size: 35px;
	line-height: 50px;
	font-family: 'Arvo', serif;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
}

.title2 {
	font-size: 30px;
	line-height: 20px;
	font-family: 'Fira Sans Condensed', sans-serif;
	color: black;
	}